name: Node.js CI

on:
  workflow_call:
    inputs:
      node-version:
        description: Version of Node.js used to run the lint steps.
        type: string
        default: 16.x
        required: false
      npm-setup-command:
        description: Command used to setup the package before running other steps.
        type: string
        default: npm install
        required: false
      lint-eslint:
        description: Whether to run the `eslint` npm script.
        type: boolean
        default: true
        required: false
      lint-prettier:
        description: Whether to run the `prettier` npm script.
        type: boolean
        default: true
        required: false
      lint-check-types:
        description: >
          Whether to run the `check-types` npm script. This should be set to
          `true` for TypeScript projects.
        type: boolean
        default: false
        required: false
      disable-tests:
        description: Disable the test matrix.
        type: boolean
        default: false
        required: false
      node-version-matrix:
        description: Versions of Node.js to test on, as a JSON array.
        type: string
        default: '[14, 16, 18, 20]'
        required: false
      test-setup-command:
        description: > 
          Command used to setup the package before running npm tests. Will run
          between `npm-setup-command` and `npm-test-command`.
        type: string
        required: false
      npm-test-command:
        description: Command used to run the tests.
        type: string
        default: npm run test-only
        required: false
      upload-coverage:
        description: Whether to run the Codecov action to upload coverage data.
        type: boolean
        default: true
        required: false

jobs:
  lint-eslint:
    if: ${{ inputs.lint-eslint }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
      - name: Run npm setup command
        run: ${{ inputs.npm-setup-command }}
      - name: Run ESLint
        run: npm run eslint
  lint-prettier:
    if: ${{ inputs.lint-prettier }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
      - name: Run npm setup command
        run: ${{ inputs.npm-setup-command }}
      - name: Run Prettier
        run: npm run prettier
  lint-check-types:
    if: ${{ inputs.lint-check-types }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}
      - name: Run npm setup command
        run: ${{ inputs.npm-setup-command }}
      - name: Check types
        run: npm run check-types
  test:
    if: ${{ !inputs.disable-tests }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ${{ fromJson(inputs.node-version-matrix) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run npm setup command
        run: ${{ inputs.npm-setup-command }}
      - name: Run test setup command
        if: ${{ inputs.test-setup-command }}
        run: ${{ inputs.test-setup-command }}
      - name: Run tests
        run: ${{ inputs.npm-test-command }}
      - name: Send coverage report to Codecov
        if: ${{ inputs.upload-coverage }}
        uses: codecov/codecov-action@v3
